<% content_for :title do %>CEPH Storage Cluster<% end %>
<script>
refresh_secs = getQueryVariable('refresh');

function getQueryVariable(variable) {
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
    if (pair[0] == variable) {
      return pair[1];
    }
  }
}

function refresh() {
  window.location.reload(true);
  setTimeout(refresh, refresh_secs * 1000);
}

if (refresh_secs != null)
  window.onload=setTimeout(refresh, refresh_secs * 1000);

</script>
<div class="gridster" onclick="window.alert();">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="catalyst" data-view="Image" data-title="logo" data-image="/logo.png" data-width="150px"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="status" data-view="Health" data-title="Cluster Status" data-text=". status will show here ."></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="storage" data-view="Meter" data-title="Storage (Raw)"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pool0" data-view="Number"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pool1" data-view="Number"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="traffic" data-view="Mgraph" data-title="Traffic" data-moreinfo="read / write"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iops" data-view="Graph" data-title="IOPS"></div>
    </li>
  </ul>
</div>
